.join-form
    form
        p
            span.font-user
            label
                input(
                    type='text'
                    name='username'
                    placeholder='Логин'
                )
        p
            span.font-user
            label
                input(
                type='text'
                name='password'
                placeholder='Пароль'
                )
        p
            label
                input.checkbox(type='checkbox')
                span.checkbox-custom
                span.label Я человек
        p Вы точно не робот?
        p
            label
                input.radio(type='radio' value='sure')
                span.radio-custom
                span Да
                input.radio(type='radio' value='not sure')
                span.radio-custom
                span Не уверен
