extends ../_template

block variables
    - var title = 'Home page'


block content
    .wrapper

        section.section.hero

            .hero__bg
                img(src="assets/img/bg.png").hero__bg-img
            .hero__container
                img(src="assets/img/portfolio_header.svg").hero-tittle-pic
                .user
                    .user__pic-container
                        img(src="assets/img/avatar.jpg").user__pic
                        .user__name Игорь Жигалов
                        .user__desc Личный сайт вэб-разработчика
            include ../common/_topMenu

        section.section.about
            .about__col--works.about__col_left
                svg(viewbox="0 0 1000 110" preserveAspectRatio="none").about__triangle--works
                    polygon(points="0,0 0,110 1000,110")
            .about__col--works.about__col_right
                svg(viewbox="0 0 1000 110" preserveAspectRatio="none").about__triangle--works
                    polygon(points="0,110 1000,110 1000,0")
        section.section.works
            .section-title(style="background-image: url('assets/img/works_header.svg')")
                | Мои работы
            .slider
                .slider__col.slider__col_left
                    .work
                        .work__preview
                            img(src="assets/img/work-01.png").work__pic
                        ul.slide__desc
                            li.desc__item
                                .work__title.block-title--slide Сайт школы онлайн-образования
                            li.desc__item
                                .work__technology.slide__skills HTML, CCS3, JAVASCRIPT
                            li.desc__item
                                a(href="#").slide__link  Посмотреть сайт
                .slider__col.slider__col_right
                    .work__slider
                        .work__prev.toggle.column.column-left
                            a(href="#").toggle__link.toggle__link_prev
                                img(src="assets/img/portf_arrow_down.svg").toggle__icon
                                ul.work-slider__list.work-slider__list_prev
                                    li.work-slider__item.work-slider__item_current
                                        img(src='assets/img/work-01.png').work-slider__img
                                    li.work-slider__item
                                        img(src='assets/img/work-01.png').work-slider__img
                                    li.work-slider__item
                                        img(src='assets/img/work-01.png').work-slider__img
                        .work__next.toggle.column.column-right
                            a(href="#").toggle__link.toggle__link_next
                                img(src="assets/img/portf_arrow_up.svg").toggle__icon
                                ul.work-slider__list.work-slider__list_next
                                    li.work-slider__item
                                        img(src='assets/img/work-01.png').work-slider__img
                                    li.work-slider__item
                                        img(src='assets/img/work-01.png').work-slider__img
                                    li.work-slider__item.work-slider__item_current
                                        img(src='assets/img/work-01.png').work-slider__img
        section.section.feedback.blur
            .feedback-wrap
                .section-title--feedback(style="background-image: url('assets/img/about_header.svg')")
                    | Что обо мне<br>говорят
                .feedback__items
                    .feedback__item
                        .feedback__quote
                            i.fa.fa-quote-left.fa-3x
                        .feedback__desc
                            p Этот парень проходил обучение вэб-разработке не где-то, а в Loftschool! 2 месяца только самых тяжелых испытаний и бессонных ночей!
                        .feedback__hero
                            .feedback_pic
                            .feedback__hero_desc
                                h7 Ковальчук Дмитрий
                                p Основатель Loftschool
                    .feedback__item
                        .feedback__quote
                            i.fa.fa-quote-left.fa-3x
                        .feedback__desc
                            p Этот парень проходил обучение вэб-разработке не где-то, а в Loftschool! 2 месяца только самых тяжелых испытаний и бессонных ночей!
                        .feedback__hero
                            .feedback_pic
                            .feedback__hero_desc
                                h7 Ковальчук Дмитрий
                                p Основатель Loftschool
                .feedback__form
                    .blur-form__wrapper
                        .blur-form
                        .form__content
                            .section-title--feedbackform Связаться со мной
                            .form__items
                                .form__item
                                    label
                                        input.form__input(
                                        type='text'
                                        name='name'
                                        placeholder='Ваше имя'
                                        )
                                .form__item
                                    label
                                        input.form__input(
                                        type='text'
                                        name='email'
                                        placeholder='Ваш email'
                                        )
                                .form__item
                                    textarea.form__input-area(
                                        placeholder='Ваше сообщение'
                                        )
                            ul.nav__join--feedback.main-block__item
                                li.nav__item--join
                                    a.nav__link#link(href='index.html') Отправить
                                li.nav__item--join
                                    a.nav__link(href='#') Очистить
            include ../common/_footer